@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Subte background grain */
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  opacity: 0.03;
  z-index: 50;
  pointer-events: none;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
}